#lastfmDeck {
  padding: 5px;
}

#lastfmDeck button {
  min-height: 2em;
}

#lastfmSignup {
  text-decoration: underline;
}
#lastfmSignup:hover {
  color: blue;
}

#lastfmLoginError {
  color: red;
}

/* the avatar image */
#lastfmImage {
  width: 64px;
  height: 64px;
  border: 2px solid white;
}
#lastfmImage:hover {
  border-color: blue;
}

/* the real name field */
#lastfmRealname {
  font-weight: bold;
}
#lastfmRealname:hover {
  color: blue;
  text-decoration: underline;
}

/* the next scrobbling line */
#lastfmNextTrack, #lastfmNextTime {
  font-style: italic;
}

/* the Songbird group on Lastfm */
#lastfmJoinGroup:hover {
  color: blue;
  text-decoration: underline;
}


/* hide the real name field */
#lastfmRealnameContainer {
  display: none;
}
