#lastfmDeck {
  padding: 5px;
}

#lastfmDeck button {
  min-height: 2em;
}

#lastfmImage {
  width: 64px;
  height: 64px;
  border: 2px solid white;
}
#lastfmImage:hover {
  border-color: blue;
}

#lastfmRealname {
  font-weight: bold;
}

#lastfmRealname:hover {
  color: blue;
  text-decoration: underline;
}
